body {
  margin: 5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  margin: 0 auto;
  height: 50%;
}   
.link-btn {
  font-family: Lucida;
  color: black;
  size: 36 px;
  margin: 5px left;
  justify-content: space-evenly;
  }
input {
  height: 24px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color:black;
  background-color: beige;
}
input:focus {
  border: 3px solid #555;
}
